section{    
    width: 100%;   
}

.header_agenda .col-md-8 {
    width: 100%;
    background: linear-gradient(to bottom, #d0cece, #d4aaae, #ffffff);
    min-height: 100px;
}

@media (min-width: 768px) and (max-width: 991px) and (orientation: portrait) {
    .header_prof {
        min-height: 90px; 
    }
}