section{
    
    width: 100%;
    justify-content: center;
    align-items: center;
    
}

.header_agenda .col-md-8 {
    width: 100%;
    background: linear-gradient(to bottom, #d0cece, #d4aaae, #ffffff);
    min-height: 35vh;
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .header_agenda {
        min-height: 25vh; /* lagere hoogte */
    }
}