section{
    
    width: 100%;
    justify-content: center;
    align-items: center;
    
}

.contact_header .col-md-8 {
    width: 100%;
    background: linear-gradient(to bottom, #d0cece, #d4aaae, #ffffff);
    height: 30vh;
}

.map_locatie iframe{
    width: 100%;
    
}

@media screen and(max-width:768px) {
    .contact_header .row {
        width: 95%;
        
    }


    .contact_info .row {
        width: 95%;
        
    }

    
}