section{  
    width: 100%; 
}

header .col-md-8 {
    width: 100%;
    background: linear-gradient(to bottom, #d0cece, #d4aaae, #ffffff);
    min-height: 100px;
}

.contact_info .col-10,
.contact_info .col-sm-10,
.contact_info .col-md-5,
.contact_info .col-lg-5 {
    min-height: 350px;
}

.map_locatie .col-md-8 {
    width: 85%;
}
.map_locatie iframe{
    width: 100%;
    
}


@media (min-width: 768px) and (max-width: 991px) and (orientation: portrait) {
    header {
        min-height: 90px; 
    }
}