
section{
    
    width: 100%;
    
    
}


.hero{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, #d4aaae 10%, #d0cece 50% );
    overflow: hidden;
}

.hero .btn {
    background-color: #ae5d65;
    opacity: 0;
    transform: translateY(100%);
    animation: show_btn 1s ease-out forwards;
    animation-delay: 3s;
}



@keyframes show_btn {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    60% {
        transform: translateY(-15px);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
        
}
.hero h1{
    font-size: 20px;
    transition: transform 2s ease-in-out;
    transform-origin: center;
    animation: scaleIn 2s linear forwards;
}

@keyframes scaleIn {
    from {
        transform:scale(0);
    }
    to {
        transform: scale(5);
    }
    
}

.hero p{
    
    opacity: 0;
    transition: opacity 2s linear forwards;
    animation: show 1s forwards;
    animation-delay: 2.5s;
}

@keyframes show {
    from {
        opacity: 0;}
        to{
        opacity: 1;
        }
    
}

#diensten {
    scroll-margin-top: 40px;
}
.diensten{
    min-height: 35vh;
    background-color: #f6f4f2;
    
}

.diensten .row {
    width: 95%;
    margin: auto;
    gap: 20px;
    justify-content: center;
    
}

.diensten .col-12, 
.diensten .col-sm-8, 
.diensten .col-lg-3 {
   
    min-height: 45vh;
    background: linear-gradient(to bottom right, #d0cece, #ae5d65);
    border-radius: 15px;
}

.diensten .col-12, 
.diensten .col-sm-8, 
.diensten .col-lg-3 a:hover{
   
    text-decoration: none;
    color: white;
   
    
}

.diensten p {
    font-size: 24px;       
}


.diensten .inhoud{
    font-size: 14px;    
    overflow: hidden;
}



.introductie {
    width: 100%;
    min-height: 100vh;
    padding: 20px;    
    background: linear-gradient(to bottom right, #d4aaae, #f6f4f2);
}
.introductie .col-12,
.introductie .col-sm-6,
.introductie .col-lg-6 {
    padding: 20px;
    gap: 20px;    
}

.introductie .btn{
    background-color: #ae5d65;
    width: 200px;
}



.btn-primary {
    background-color: #ae5d65;
    border: none;
}

.btn-primary:hover {
    background-color: #c5818a;
}


@media screen and (max-width:768px){
    
    
    .sponsor .img-fluid {
        max-width: 75px;
        height: auto;
    }

    @keyframes scaleIn{
        to {
            transform: scale(3);
        }
    } 
        
    
}

@media (min-width: 992px) { 
  .navbar .dropdown:hover .dropdown-menu {
    display: block;
  }

  
}
