section{   
    width: 100%;   
}

.header .col-md-8 {
    width: 100%;
    background: linear-gradient(to bottom, #d0cece, #d4aaae, #ffffff);
    min-height: 100px;

}

.card {
    border-radius: 15px;
    background-color: whitesmoke;    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 100%;
}

.nieuws_content .col-10,
.nieuws_content .col-sm-10,
.nieuws_content .col-md-5,
.nieuws_content .col-lg-5  {
    min-height: 400px;
}

@media (min-width: 768px) and (max-width: 991px) and (orientation: portrait) {
    .header {
        min-height: 90px; 
    }
}

