section{
    
    width: 100%;
    
    
}

.header_nieuws .col-md-8 {
    width: 100%;
    background: linear-gradient(to bottom, #d0cece, #d4aaae, #ffffff);
    min-height: 35vh;
}


.card {
    border-radius: 15px;
    background-color: whitesmoke;
    
    min-height: 75vh;
    height: 75vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
}

