section{
    
    width: 100%;   
    
}

.header_overons .col-md-8 {
    width: 100%;
    background: linear-gradient(to bottom,#d0cece,  #d4aaae, #ffffff);
    min-height: 35vh;
}

.missie .col-md-8{
    border-radius: 15px;
    width: 100%;
}


.aanpak .col-10,
.aanpak .col-sm-10,
.aanpak .col-lg-5 {
    border-radius: 15px;
    border: 1px solid #ae5d65; 
    
}



.directie .directeur {
       
    min-height: 40vh;
    
}

.directie .directeur_text {
    font-size: 1rem;
    width: 100%;
}

.directie img{
    border-radius: 15px;
}



.onsteam img{
    border-radius: 20px;
}

.nav button{
    color: black;
}

.nav button:hover {
    border-bottom: #ae5d65 2px solid;
    font-weight: bold;
    color: black;
}

.nav  .active {
    font-weight: bold;
}

.nav .nav-link.active {
    color: #ae5d65;
}

.partners .container {
    border-radius: 15px;
    border: 1px solid #ae5d65;
    min-height: 60vh;
}



.partners .container .tekst{
    display: none;
    
    height: 100%;    
}

.partners  .container:hover .tekst {
    display: block;
    font-size: 12px;   
    border-radius: 15px;    
}

.partners .container:hover h3{
    background-color: #ae5d65;
    border-radius: 15px;   
}

.partners .container:hover img{
    display: none;    
}

.jaarverslagen .col-md-8{
    border-radius: 15px;
    border: 1px solid #ae5d65;
}

.btn-primary {
    background-color: #ae5d65;
    border: none;
}
.btn-primary:hover {
    background-color: #c5818a;
}

