section{
    
    width: 100%;
    
    
}

.header_prof .col-md-8 {
    width: 100%;
    background: linear-gradient(to bottom, #d0cece, #d4aaae, #ffffff);
    min-height: 100px;
    
}

.trainingen_prof .col-10,
.trainingen_prof .col-sm-10,
.trainingen_prof .col-lg-3 {
    border-radius: 15px;
    border: 1px solid #ae5d65;
    min-height: 200px;
    font-size: 1rem;
}


@media (min-width: 768px) and (max-width: 991px) and (orientation: portrait) {
    .header_prof {
        min-height: 90px; 
    }
}