section{
    
    width: 100%;
    
    
}

.header_prof .col-md-8 {
    width: 100%;
    background: linear-gradient(to bottom, #d0cece, #d4aaae, #ffffff);
    height: 35vh;
    
}

.trainingen_prof .col-10,
.trainingen_prof .col-sm-10,
.trainingen_prof .col-lg-3 {
    border-radius: 15px;
    border: 1px solid #ae5d65;
    min-height: 95vh;
    
}

.trainingen_prof .col-lg-3 {
    
    min-height: 70vh;
   
}

.trainingen_prof .col-sm-10 {
    
    min-height: 50vh;
   
}


.trainingen_prof .col-10,
.trainingen_prof .col-sm-10,
.trainingen_prof .col-lg-3 p{
    font-size: 14px;
    
}
