section{
    
    width: 100%;
    
    
}

.header_reintegratie .col-md-8 {
    width: 100%;
    background: linear-gradient(to bottom, #d0cece, #d4aaae, #ffffff);
    min-height: 35vh;
}

.reintegratie .rechts{
       
    min-height: 100vh;
    border-radius: 15px;
    
}

.reintegratie .links{
    
    min-height: 100vh;
    border-radius: 15px;
    
}
 .reintegratie p {
    font-size: 1rem;
 }


.reintegratie .col-lg-5 ul li {
    font-size: 14px;
}

.reintegratie .col-sm-12 {
    min-height: 70vh;
}

.reintegratie .col-12{
    min-height: 80vh;
}



