section{   
    width: 100%; 
}

header .col-md-8 {
    width: 100%;
    background: linear-gradient(to bottom, #d0cece, #d4aaae, #ffffff);
    min-height: 100px;
}

.reintegratie .rechts{
    border-left: 2px solid #ae5d65;
}

.reintegratie .col-lg-5 {
    border: none;
}
.reintegratie .links, .rechts{       
    min-height: 400px; 
}

 .reintegratie p, ul li {
    font-size: 1rem;
 }
@media (min-width: 768px) and (max-width: 991px) and (orientation: portrait) {
    header {
        min-height: 90px; 
    }
}

