
section{  
    width: 100%;   
}

footer {
    min-height: 400px;
    background: radial-gradient(circle, #d4aaae 10%, #d0cece 50% );
    padding: 15px;
}



.navbar-brand .img-fluid {
    max-height: 80px;
    width: auto;
}



.navbar .dropdown-item:hover {
    background-color: #cda4a8;
}

.navbar .dropdown-item:hover .nav-link{
    font-weight: bold;
    color: #ae5d65;
}

.navbar .nav-link:hover {
    color: #ae5d65;
    font-weight: bold;
}

.form-control:hover  {
    border-color: black;        
    
}
.form-control:focus{
    box-shadow: none;
}

.hero_tekst{
    font-size: 80px;
    font-style: arial;
}



main {
    min-height: 100vh;
}

.icon svg{
    height: 30px;
    width: auto;
}



.btn-primary {
    background-color: #ae5d65;
    border: none;
}
.btn-primary:hover {
    background-color: #c5818a;
}

.quick_links {
    display: flex;
    flex-direction: column;
    
}


a {
    text-decoration: none;
    color: black;
}

a:hover {
    color:blue
}

span{
    padding-bottom: 10px;
}

@media (min-width: 992px) { 
  .navbar .dropdown:hover .dropdown-menu {
    display: block;
  }

  
}