section{
    
    width: 100%;
    
}

.vrijwilligers_header .col-md-8 {
    width: 100%;
    background: linear-gradient(to bottom, #d0cece, #d4aaae, #ffffff);
    min-height: 35vh;
}

.vrijwilligers .col-10,
.vrijwilligers .col-sm-10,
.vrijwilligers .col-lg-5 {
       
    min-height: 50vh;
    
}


@media (min-width: 576px) and (max-width: 767.98px) {
    .vrijwilligers_header {
        min-height: 25vh; /* lagere hoogte */
    }
}



