section{   
    width: 100%;    
}

.vrijwilligers_header .col-md-8 {
    width: 100%;
    background: linear-gradient(to bottom, #d0cece, #d4aaae, #ffffff);
    min-height: 100px;
}

.vrijwilligers .col-10,
.vrijwilligers .col-sm-10,
.vrijwilligers .col-md-5
.vrijwilligers .col-lg-5 {      
    min-height: 400px;   
    font-size: 1rem;
}



@media (min-width: 768px) and (max-width: 991px) and (orientation: portrait) {
    .vrijwilligers_header {
        min-height: 90px; 
    }
}




